
<div class="col-md-10 col-md-offset-2">




<ul>
    <h2>Menu</h2>
    {{#each burgers}} 
    {{#unless eaten}} 
    {{> burgers/burger-block eaten=true}} 
    {{/unless}} 
    {{/each}}
</ul>



<ul>
    <h2>Eaten</h2>

    {{#each burgers}} {{#if eaten}} {{> burgers/burger-block eaten=false}} {{/if}} {{/each}}
</ul>

</div>









