
<ul>
    {{#each burgers}} 
    {{#unless eaten}} 
    {{> burgers/burger-block eaten=true}} 
    {{/unless}} 
    {{/each}}
</ul>

<h2>Cats that are sleepy!</h2>

<ul>
    {{#each burgers}} {{#if eaten}} {{> burgers/burger-block eaten=false}} {{/if}} {{/each}}
</ul>


<div class="col-md-10 col-md-offset-1">
<div class="text-center">
<form id="new_burger">
    <input type="text" id="burger">
    <button id="submit_new_burger">Submit</button>
</form>
</div>
</div>








