

<div class="row">
<div class="col-md-offset-2 col-md-3">
<h2>Fresh</h2>
    <ul id="new">
    </ul>
</div>


<div class="col-md-offset-1 col-md-3">
    <h2>Easten</h2>
    <ul id="eaten">
    </ul>
</div>
</div>



<div class="col-md-10 col-md-offset-1">
<div class="text-center">
<form id="new_burger">
    <input type="text" id="burger">
    <button id="submit_new_burger">Submit</button>
</form>
</div>
</div>








